.advantages{
    padding-bottom: 80px;
    background-color: #F2F2F2;
    &__title{
        color: var(--, #1F1D14);
        font-family: "Fira Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 30px;
    }
    &__card{
        max-width: 292px;
        width: 100%;
        background-color: #fff;
        padding: 64px 40px;
        border-radius: 8px;
        h3{
            max-width: 182px;
            color: #000;
            /* 20px regul */
            font-family: "Fira Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 30px;
        }
    }
}