@import './mixins';


.topbar{
    padding: 15px 0;
    background:$black;
    &__in{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left{
        display: flex;
        gap: 30px;
        align-items: center;
    }
    &__logo{
        display: flex;
        gap: 10px;
        h3{
            max-width: 116px;
            color: var(--white, #FFF);
            font-family: "Fira Sans";
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
        }
    }
    &__links{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__link{
        font-family: "Fira Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #FFF;
        padding-bottom: 5px;
        transition: all 0.7s;
        &:hover{
            border-bottom: 1px solid #FFF;

        }
    }
    &__right-links{
        display: flex;
        gap: 30px;
        a{
            display: flex;
            align-items: center;
            gap: 5px;
            color: #FFF;
            font-family: "Fira Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.navbar{
    padding: 16px 0;
    &__in{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__btn{
        display: flex;
        align-items: center;
        gap: 10px;
        color: $white;
        padding: 15px 40px;
        background-color: $black;
        color: var(--white, #FFF);
        border-radius: 5px;
        font-family: "Fira Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: 1px solid transparent;
        cursor: pointer;
        transition: all 0.6s;
        &:hover{
            border: 1px solid $black;
            color: $black;
            background-color: $white;
        }
    }

    &__input{
        max-width: 100%;
        display: flex;
        align-items: center;
        padding: 17px 20px;
        width: 502px;
        background-color: #f2f2f2;
        border-radius: 5px;
        input{
            border: none;
            background-color: transparent;
            color: var(--, #1F1D14);
            font-family: "Fira Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            outline: none;
            width: 90%;
        }
    }

    &__right-list{
        display: flex;
        align-items: center;
        gap: 25px;

    }
    &__right-link{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:13px;
        background-color: #f2f2f2;
    }
    &__right-link-cart{
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
        padding:15px 30px;
        background-color: #f2f2f2;
        color: #1F1D14;
    }
}

@media (max-width:1150px) {
    .topbar{
        padding: 15px 0;
        background:$black;
        &__in{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__left{
            display: flex;
            gap: 30px;
            align-items: center;
        }
        &__logo{
            display: flex;
            gap: 10px;
            h3{
                max-width: 116px;
                color: var(--white, #FFF);
                font-family: "Fira Sans";
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
            }
        }
        &__links{
            display: flex;
            align-items: center;
            gap: 30px;
        }
        &__link{
            font-family: "Fira Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #FFF;
            padding-bottom: 5px;
            transition: all 0.7s;
            &:hover{
                border-bottom: 1px solid #FFF;
    
            }
        }
        &__right-links{
            display: none;
            gap: 30px;
            a{
                display: flex;
                align-items: center;
                gap: 5px;
                color: #FFF;
                font-family: "Fira Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }


    .navbar{
        padding: 16px 0;
        &__in{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        &__left{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        &__btn{
            display: flex;
            align-items: center;
            gap: 10px;
            color: $white;
            padding: 15px 40px;
            background-color: $black;
            color: var(--white, #FFF);
            border-radius: 5px;
            font-family: "Fira Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: 1px solid transparent;
            cursor: pointer;
            transition: all 0.6s;
            &:hover{
                border: 1px solid $black;
                color: $black;
                background-color: $white;
            }
        }
    
        &__input{
            max-width: 100%;
            display: none;
            align-items: center;
            padding: 17px 20px;
            width: 502px;
            background-color: #f2f2f2;
            border-radius: 5px;
            input{
                border: none;
                background-color: transparent;
                color: var(--, #1F1D14);
                font-family: "Fira Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                outline: none;
                width: 90%;
            }
        }
    
        &__right-list{
            display: flex;
            align-items: center;
            gap: 25px;
    
        }
        &__right-link{
            display: flex;
            justify-content: center;
            align-items: center;
            padding:13px;
            background-color: #f2f2f2;
        }
        &__right-link-cart{
            display: flex;
            justify-content: center;
            gap: 5px;
            align-items: center;
            padding:15px 30px;
            background-color: #f2f2f2;
            color: #1F1D14;
        }
    }

}


@media (max-width:700px) {
    .topbar{
        padding: 15px 0;
        background:$black;
        &__in{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__left{
            display: flex;
            gap: 30px;
            align-items: center;
        }
        &__logo{
            display: flex;
            gap: 10px;
            h3{
                max-width: 116px;
                color: var(--white, #FFF);
                font-family: "Fira Sans";
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
            }
        }
        &__links{
            display:none;
            align-items: center;
            gap: 30px;
        }
        &__link{
            font-family: "Fira Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #FFF;
            padding-bottom: 5px;
            transition: all 0.7s;
            &:hover{
                border-bottom: 1px solid #FFF;
    
            }
        }
        &__right-links{
            display: none;
            gap: 30px;
            a{
                display: flex;
                align-items: center;
                gap: 5px;
                color: #FFF;
                font-family: "Fira Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}