@import './mixins';
@import './nav';
@import './hero';
@import './katalog';
@import './promotion';
@import './usefuls';
@import './advantages';
@import './about';
@import './footer';
@import'./_products.scss';
@import './aboutUs';
@import './contact';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    text-decoration: none;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}